* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 200vh;
}

#parent {
    background-color: brown;
    overflow: hidden;
    /* Kada se koristi float svosjtvo:
    1) Deca koja se redjaju
          float: (left ili right)
    2) Roditelj unutar kojeg se radjaju
          overflow: hidden; */
}

#parent p{
    background-color: yellow;
    width: 25%;
    float: right;
    /* FLOAT = REDJANJE JEDAN ZA DRUGIM */

}

#parent p:nth-child(1) {
    float: left;
}

.topbar {
    position: sticky;
    top: 0;
}

.topbar div {
    position: relative;
    float: left;
    width: 25%;
    background-color: rgb(78, 77, 77);
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
}

.topbar div:hover {
    background-color: red;
}

div a {
    position: absolute;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    text-decoration: none;
}